export ANSIBLE_PRIVATE_KEY_FILE=~/.ssh/keys/name-of-your-private-key.pem
export AWS_ACCOUNT_ID=************
export AWS_REGION=***
export ENV=dev
export IMAGE_NAME=aitt/core
export IMAGE_TAG=0.4.0
export SERVICE_NAME=aitt-core
export PORT_INPUT=8001
export DOCKER_NETWORK=aitt-network
export HALFCIRCLE_SERVICE_URL=http://aitt-symbol-clf:8000
export SLUG=aitt
export DOMAIN_NAME=youdomainname.com
export EMAIL_ADDRESS=youemail@address.com