---
- name: Setup Nginx Reverse Proxy for Docker
  hosts: aitt_instance
  become: true

  vars:
    nginx_configfile_name: "aitt_reverse_proxy.conf"

  tasks:

    - name: Install Nginx
      ansible.builtin.package:
        name: nginx
        state: present
        update_cache: true

    - name: Install Certbot and Nginx plugin
      ansible.builtin.package:
        name: 
          - certbot
          - python3-certbot-nginx
        state: present

    - name: Check if HTTPS certificate already exists
      ansible.builtin.stat:
        path: "/etc/letsencrypt/live/{{ DOMAIN_NAME }}/fullchain.pem"
      register: cert_file

    - name: Create Nginx sites-available directory
      file:
        path: /etc/nginx/sites-available
        state: directory

    - name: Create Nginx site-enabled directory
      file:
        path: /etc/nginx/sites-enabled
        state: directory

    - name: Copy Nginx configuration
      template:
        src: utils/{{ nginx_configfile_name }}
        dest: /etc/nginx/sites-available/{{ nginx_configfile_name }}
      notify: restart nginx
      when: not cert_file.stat.exists # no copy of nginx config file if cert exists

    - name: Enable the configuration
      file:
        src: /etc/nginx/sites-available/{{ nginx_configfile_name }}
        dest: /etc/nginx/sites-enabled/{{ nginx_configfile_name }}
        state: link

    - name: Ensure nginx.conf includes sites-enabled
      lineinfile:
        path: /etc/nginx/nginx.conf
        regexp: 'include /etc/nginx/conf.d/\*.conf;'
        line: '    include /etc/nginx/conf.d/*.conf; include /etc/nginx/sites-enabled/*;'
        backrefs: yes
      notify: restart nginx

    - name: Remove default nginx config
      file:
        path: /etc/nginx/sites-enabled/default
        state: absent
      notify: restart nginx

    - name: Create certificate using Let's Encrypt
      ansible.builtin.command:
        cmd: "certbot --nginx -d {{ DOMAIN_NAME }} --non-interactive --agree-tos -m {{ EMAIL_ADDRESS }}"
      when: not cert_file.stat.exists

  handlers:
    - name: restart nginx
      service:
        name: nginx
        state: restarted